- page_title @hook.pluralized_name

- if @group.licensed_feature_available?(:group_webhooks)
  .row.gl-mt-3.js-search-settings-section
    .col-lg-3
      = render 'shared/web_hooks/title_and_docs', hook: @hook

    .col-lg-9.gl-mb-3
      = gitlab_ui_form_for @hook, as: :hook, url: polymorphic_path([@group, :hooks]) do |f|
        = render partial: 'shared/web_hooks/form', locals: { form: f, hook: @hook }
        = f.submit _('Add webhook'), class: 'gl-button btn btn-confirm'

      = render 'shared/web_hooks/index', hooks: @hooks, hook_class: @hook.class
- elsif show_promotions?
  = render 'shared/promotions/promote_group_webhooks'
